.ABOUTS{
    display: flex;
    flex-direction: row;
    width: 80%;
    padding-left: 150px;
}
.App-About{
    background-color: #0bb8d2 ;
    padding-top: 100px;
    flex-direction: column;
    margin-top: 150px;
    margin-bottom: 100px;
    display: flex;
    width: 150%;
    height: 500px;
}
.AboutHeading{
    color: #fff;
    text-align: center;
    margin-top: 100px;
}
.AboutPara{
    color: #fff;
    text-align: center;
    margin-top: 20px;
    padding-left: 5%;
    padding-right: 5%;
}
.AboutMeHeading{
    padding-top: 200px;
    font-weight: bold;
    padding-left: 100px;
    font-size: 44px;
}
.AboutDesignPara{
    color: dimgrey;
    padding-left: 100px;
    font-size: 18px;
    margin-top: 30px;
    padding-right: 200px;
}
.btn-Contact{
    width: 150px;
    height: 50px;
    border: #0bb8d2 2px solid;
    margin-top: 50px;
    border-radius: 50px;
    margin-left: 100px;
}
.btn-Contact:hover{
    background-color: #000000 !important;
    color: #fff;
    border: none;

}
.AboutFreePik{
    margin-left: 100px;
    margin-top: 50px;
    font-size: 18px;
    color: dimgrey;

}