body {
  margin: 0;
}
h1,h2,h3,h4,h5,h6,p{
  margin: 0px;
  font-family: "Roboto Slab",Museo,"Helvetica Neue",helvetica,arial,sans-serif;
}
.para{
  font-size: 16px;
}
.heading{
  font-size: 44px;
  font-weight: 400;
}